@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body, html {
    font-family: "Montserrat";
    margin: 0;
    background-color: #071b45;
    color: #cb9831;
    height: 100vh;

    a {
        text-decoration: none;
        color: #cb9831
    }

}

.flex-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

// Header

header {
    width: calc(100% - 4em);
    padding: 2em;

    #logo {
        width: 5rem;
        height: 5rem;
        margin-top: -10px;
    }

    .menu-btn {
        // width: 3rem;
        float: right;
        cursor: pointer;  
        transition: 0.3s ease-in-out;

        &:hover {
            color: #cb983175;
        }

        @media (max-width: 800px) {
            font-size: 2rem;
        }
    }
}

// Section

section {
    padding: 4em 4em 0 4em;
    display: flex;
    flex-direction: column;
    align-content: center;

    h1 {
        font-size: 4em;
        margin: .5em auto;
        width: 80%;

        &::before {
            content: "";
            border-top: 5px solid #cb983175;
            display: block;
            width: 100%;
        }
    }

    .cta-wrapper {
        text-align: center;
    }

    .cta {
        text-align: center;
        border: none;
        margin: .5em auto;
        background-color: #cb9831;
        color: #071b45;
        padding: 1em;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 700;
        font-size: 1em;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: #cb983175;
            transform: scale(1.2);
        }
    }

    @media (orientation: landscape) and (max-width: 1000px) {
        padding: 0 4em 0 4em;
        h1 {
            font-size: 2em;
            margin: .5em 0 .5em 0;
            width: 100%;
        }
    }
    @media (orientation: portrait) and (max-width: 1000px) {
        // padding: 0 4em 0 4em;
        h1 {
            font-size: 2em;
            margin: .5em 0 .5em 0;
            width: 100%;
        }
    }
}

// Nav

nav {
    position: absolute;
    background: #cb9831;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;
    
    @media (max-width: 800px) {
        height: auto;
        .fa-3x {
            font-size: 1.2rem;
        }
    }

    .close-btn {
        color: beige;
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
        margin-right: 1.5rem;
        transition: 0.3s ease-in-out;

        &:hover {
            color: rgba(245, 245, 220, 0.733);
        }
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 3em;
        width: 80%;
        a {
            color: beige;
            font-weight: bold;
            font-size: 1.4em;
            transition: 0.3s ease-in-out;

            &:hover {
                color: rgba(245, 245, 220, 0.733);
            }
        }

        span {
            color: #071b45;
            display: block;
            font-size: .75em;
            margin-top: 20px;
        }

        li {
            opacity: 0;
        }
    }
}

// Footer

footer {
    position: absolute;
    bottom: .6em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;

    .footer-copyright {
        margin: 0 auto;
        align-self: center;
    }

    .icon-links {
        position: relative;

        .fa-linkedin {
            position: absolute;
            right: 1.3em;
            bottom: -.1em;
        }
    
        .fa-github {
            position: absolute;
            right: 3.3em;
            bottom: -.1em;
        }
    
        a {
            transition: 0.3s ease-in-out;

            &:hover {
                color: #cb983175; 
            }
        }
    }
    
    @media (orientation: portrait) and (max-width: 800px) {
            .fa-2x {
                font-size: 1.2rem;
            }
            .fa-github {
                right: 2.8em !important;
            }
            .footer-copyright {
                font-size: .7rem;
            }
        }

    @media (orientation: landscape) and (max-width: 1000px) {
            .fa-2x {
                font-size: 1.2rem;
            }
            .fa-github {
                right: 4.8em !important;
            }
            .fa-linkedin {
                right: 2em !important;
            }
            .footer-copyright {
                font-size: .7rem;
            }
        }
}

// Animations

.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }
    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }
    li:nth-of-type(4) {
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
}

.hide-menu {
    li:nth-of-type(1) {
        animation: menu-item-drop .6s ease-in-out 1s backwards;
    }
    li:nth-of-type(2) {
        animation: menu-item-drop .6s ease-in-out 1.2s backwards;
    }
    li:nth-of-type(3) {
        animation: menu-item-drop .6s ease-in-out 1.4s backwards;
    }
    li:nth-of-type(4) {
        animation: menu-item-drop .6s ease-in-out 1.6s backwards;
    }

    .close-btn {
        animation: hide-x 1s ease 1s backwards;
    }

    animation: slide-menu-out 1s ease-out 2.2s backwards;
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        transform: translateY(60%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Hiding the menu

@keyframes menu-item-drop {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(60%);
        opacity: 0;
    }
}

@keyframes hide-x {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slide-menu-out {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}